/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

body {
  width: 100%;
  overflow-x: hidden;
}
.top-header {
  background-color: #f5ab00;
  padding-left: 60px;
  padding-right: 60px;
  .facebook-top {
    float: right;
    padding-top: 10px;
  }
}


.booking-btn {
  width: 200px;
  color: #4c4c4b;
  background-color: #f3aa17;
  box-shadow: 0px 3px 0px #f37215;
  float: right;
}

.bookings-header {
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 28px;
}

.separation-line {
  padding-bottom: 7px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: #f5ab00;
}

.search-filter {
  background-color: #edeff0;
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 20px;
  padding-bottom: 50px;
  h4 {
    text-align: center;
  }
  .pickup {
    float: right;
  }

  input[type=radio] {
    /* Hide original inputs */
    visibility: hidden;
    position: absolute;
  }
  input[type=radio] + label:before {
    height: 14px;
    width: 14px;
    margin-right: 10px;
    content: " ";
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #777;
  }
  input[type=radio]:checked + label:before {
    background: #f5ab00;
  }

  /* CUSTOM RADIO AND CHECKBOX STYLES */
  input[type=radio] + label:before{
    border-radius:50%;
  }

  .searchdiv {
    text-align: center;
    padding-top: 20px;
    padding-left: 15%;
    padding-right: 15%;
    .inline-search {
      background-color: white;
      border-color: #f5ab00;
      .form-control {
        border-right: none;
      }
    }
    .searchdiv-options {
      padding-bottom: 10px;
    }
    .input-group {
      padding-top: 10px;
    }
  }
}



.factivebookings {
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 20px;
  overflow-x: auto;

  .table {
    font-weight: 200;
    white-space: nowrap;
    width: 100%;
    tbody {
      width: 500px;
    }
    thead {
      background-color: #4b4b4c;
      color: white;
    }
  }

}

.subscribe {
  background-color: #4b4c4d;
  text-align: center;
  .wrapper {
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .subscribe-for {
    color: white;
    font-size: 25px;
    height: 38px;
    line-height: 38px;
    float: right;
  }
  input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: none;
    padding-left: 10px;
  }
  .subscribe-btn {
    padding: 10px 42px 10px 42px;
    border-radius: 7px;
    color: #4c4c4b;
    background-color: #f3aa17;
    box-shadow: 0px 3px 0px #f37215;
    font-size: 14px;
    float: left;
  }
}


.bottom-nav {
  background-color: #c2c3c4;
  padding: 10px 0px 10px 20px;
  .car-rental-in-usa {
    padding-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
  }
  .car-rental-in {
    border-left: 1px solid #747474;
    width: 90%;
    margin: 0 auto;
    padding-left: 5px;
    color: #747474;
  }
}

.flags-section {
  background-color: #2d2e2e;
  padding-top: 25px;
  padding-bottom: 25px;
  .flags-row {
    text-align: center;
    margin-right: 15px;
    margin-left: 15px;
    .worldwide{
      display: inline-block;
      float: none;
      text-align: left;
      margin-right: 15px;
      color: grey;
      font-size: 16px;
    }
    .flags-icons {
      .flag {
        margin: 0 0 5px 5px;
        display: inline-block;
      }
    }
  }
}

.footer {
  text-align: center;
  background-color: #4c4c4c;
  padding: 25px 0px 25px 250px;
  .matrix {
    width: 154px;
    height: 27px;
    margin-left: 20px;
    display: inline-block;
  }
  .all-rights {
    line-height: 32px;
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: 15px;
    color: #c1c2c3;
    font-size: 16px;
  }
}


@media screen and (max-width: 768px) {
  box-sizing: border-box;

  .bottom-nav {
    padding-left: 5px;
    .custom-collapse .collapse{
      display:block;
    }
    .custom-panel {
      background-color: #c2c3c4;
    }
    .panel-title {
      background-color: #c2c3c4;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 16px;
      color: inherit;
    }
    .panel-heading {
      padding: 0;
    }
    .pointer {
      width: 20px;
      height: 20px;
      float: right;
      margin-right: 10px;
    }
    .container{
      width: 52%;
      display: inline-block;
      .border-right {
        border-right: 2px solid white;
      }
      .border-bottom {
        border-bottom: 2px solid white;
      }
    }
  }
  .panel-group {
    margin-top: -10px;
    margin-bottom: -10px;
    .panel {
      padding: 17px;
      border-radius: 0px;
    }
  }
  .subscribe {
    .wrapper {
      margin: auto;
      padding-left: 10px;
      padding-right: 10px;
      .subscribe-for {
        float: left;
      }
    }
  }
  .footer {
   padding-left: 10px;
  }
  .factivebookings, .search-filter, .bookings-header {
    margin: 0;
  }
  .factivebookings {
    h3 {
      padding-left: 10px;
    }
  }
  .bookings-header {
    padding-left: 15px;
    padding-right: 18px;
    h3, h5 {
      padding-left: 10px;
    }
  }
}

@media screen and (max-width: 420px) {
  .bookings-header {
    padding: 0px 10px 15px 10px;

    .booking-btn {
      width: 90%;
      margin-left: 20px;
      margin-right: 20px;
    }
  }
  .table-bordered {
    font-size: 10px;
  }


  .search-filter {
    h4 {
      float: left;
      padding-left: 55px;
    }
    label, .pickup {
      float: left;
    }
  }
  .factivebookings, .search-filter, .bookings-header {
    margin: 0;
  }
  .factivebookings {
    padding-top: 0;
    h3 {
      font-size: 20px;
      padding-left: 12px;

    }
  }
  .bottom-nav {
    .container {
      width: 100%;
      padding-right: 0;
      .border-right {
        border-right: 0;
      }
      .border-bottom {
        border-bottom: 2px solid white;
      }
      .panel-group {
        border-bottom: 2px solid white;
      }
    }
    .container:first-of-type {
      padding-bottom: 25px;
    }
  }

  .footer {
    padding: 20px 0px 25px 10px;
    text-align: center;
    .matrix {
      width: 154px;
      height: 27px;
      margin-left: 20px;
      display: inline-block;
    }
    .all-rights {
      line-height: 32px;
      display: inline-block;
      float: none;
      text-align: left;
      margin-right: 15px;
      color: #c1c2c3;
      font-size: 16px;
    }
  }
  .subscribe {
    .subscribe-btn {
      margin-top: 10px;
    }
  }

}

